{erl_opts, [no_debug_info]}.
{deps, [{beam2nix, {git, "https://github.com/ankhers/beam2nix.git"}},
        {getopt, "1.0.1"}]}.

{escript_incl_apps,
 [rebar32nix, beam2nix, getopt]}.
{escript_main_app, rebar32nix}.
{escript_name, rebar32nix}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
